ul {
  background: #002c80;
  li {
    color: #fff;
    div {
      color: #fff !important;
    }
    ul {
      background: #001d66 !important;
    }
  }
}
.ant-menu-title-content {
  color: #fff;
}
