:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 这是一个好习惯，确保padding和border不会增加元素的总宽度和高度 */
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.demo-logo-vertical {
  width: 80%;
  height: 20px;
  display: flex;
  color: #fff;
  line-height: 20px;
  margin: 20px;

  span {
    font-size: 17px;
  }
}
/* 
.ant-menu-inline {
  background: #002c8c !important;
}
.ant-layout-sider {
  background: #002c8c !important;
}
.ant-menu-item {
  color: #fff !important;
}
.aant-menu-title {
  color: #fff !important;
} */
[data-theme="dark"] .ant-btn-primary {
  background-color: #002c8c;
  border-color: #002c8c;
}

/* Login Page */

.login-cover {
  height: 440px;
  width: 100%;
  display: flex;
  background: linear-gradient(rgba(12, 68, 189, 0.8), rgba(12, 68, 189, 0.8))
      center center / cover no-repeat,
    url("../src/assets/images/cover/cover_4.jpg");
  background-size: auto;
}

/* 假设你希望选中的标签背景色为#1057E5 */
.ant-tabs-nav .ant-tabs-tab-active {
  background-color: #1057e5 !important; /* 使用!important以确保覆盖antd的默认样式 */
  color: #fff !important;
}

/* 如果需要修改字体颜色，也可以同时设置 */
.ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white; /* 假设你希望字体颜色为白色 */
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0 !important;
}
